.dot932 {
  height: 103px;
  position: absolute;
  top: 932px;
  left: -42px;
}
.dot2294 {
  height: 103px;
  position: absolute;
  top: 2294px;
  right: 0px;
}
.dot2294>img{
    width: 80px;
    height: 103px;
    object-fit: cover;
    object-position: 0 0
}
.dot2705{
  height: 103px;
  position: absolute;
  top: 2705px;
  left: -51px;

}