@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Code", monospace;
  transition: ease-in 0.13s;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--black-100);
  align-items: center;
  width: 100%;
}
.pageContainer {
  gap: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --black-100: #282c33;
  --white-100: #fff;
  --gray-100: #abb2bf;
  --purple-100: #c778dd;
}
p {
  color: var(--gray-100);
  font-weight: 400;
}
h1{
  color: var(--white-100);
  font-weight: 500;

}
